.prodcutDetails {
    font-weight: 400 !important;
    padding: 12px !important;
}

.priceContainer span:first-child {
    font-size: 20px !important;
    color: green;
}

.priceContainer span:first-child {
    font-size: 20px !important;
    color: green;
}

.discountFlash {
    border: 1px solid transparent;
    border-radius: 6px;
    width: 1;
    padding: 1;
    background: #dc4150;
    color: white;
    width: 80px;
    padding-left: 13px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.icons {
    width: 50px;
    height: 28px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 16px;
    text-align: center;
    position: absolute;
    bottom: 1%;
    background: white;
    cursor: pointer;
}